* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

@keyframes caerNav{
    from{
        transform:translateY(-50%, -200px);
        opacity:0;
    }
    to{
        transform:translateY(-50%, 0);
        opacity:1;
    }
}

.UpperNavBar {
    border-radius:0px;
      position: fixed;
    z-index: 10;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    background:linear-gradient(245deg, #000000, #0a0f08);
    color:black;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 8vh;
    box-shadow: 0 4px 8px 2px rgba(1, 63, 13, 0.3);
    transition: width .3s ease, top .3s ease, border-radius .3s ease;
        animation: caerNav 0.8s ease-in forwards;
        font-family: "Inter", system-ui, sans-serif;
        z-index: 15;
}

.UpperNavBar.scrolled{
    width: 90vw;
    border-radius:100px;
    top:10px;
    background:linear-gradient(0deg, #000000, #0a0f08);
}

    .UpperNavBar .NavBarButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        gap: 12vw;
        padding-left: 5vw;
    }

    .UpperNavBar .NavBarButtons a {
        font-size: 2.1rem;
        cursor: pointer;
        letter-spacing: 1px;
        font-weight: 350;
        color: white;
        text-decoration: none;
    }

    .UpperNavBar .UpperBarLogo {
        height: 8vmin;
        width: 8vmin;
        border-radius: 100%;
        object-fit: cover;
    }

.UpperNavBar .NavBarButtons .NavBarReserva{
        font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    text-align: center;
     border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 16px 28px;
    color: black;
    display: inline-block;
    background: linear-gradient(135deg, #35522c, #4d7941);
}

.UpperNavBar .NavBarButtons .NavBarReserva:hover{
  background: linear-gradient(135deg, #5ca257,#24391e);
    box-shadow: 0 6px 30px rgba(50, 255, 23, 0.7);
}

.hero {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: ROW;
    background: black;
    position: relative;
    overflow:hidden;
}

.hero::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 15%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.918), transparent);
    pointer-events: none;
    z-index:10;
}

@keyframes caer{
    from{
        transform:translateY(-200px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}

.hero .info {
    animation: caer 0.8s ease-in forwards;
    width: 33.333%;
    background:linear-gradient(135deg, #000000, #051700);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.hero .poder {
    font-family: 'Bebas Neue', sans-sherif;
    font-size: 10.5rem;
    letter-spacing: 4px;
}

.hero .lujo {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size:7rem;
    letter-spacing: 2px;
    color: #4F7942;
}

.hero .botones{
display: flex;
flex-direction: row;
margin-top: 15%;

gap: 10px;
}

.hero .botones a{
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
     border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 16px 28px;

    display: inline-block;
    text-decoration: none;
    color: black;
}

.reservar {
    background: linear-gradient(135deg, #4F7942, #8cdd76);
}

.reservar:hover{
    background: linear-gradient(135deg, #8cdd76, #4F7942);
    box-shadow: 0 6px 30px rgba(140, 221, 118, 0.7);
    transform: translateY(-2px); /* se "levanta" un poco */
}

.reservar:active {
    transform: translateY(0); /* vuelve a su lugar al hacer click */
}

.about{
    background-color:rgb(136, 145, 145);
}

.about:hover{
    background-color: white;
    box-shadow: 0 6px 12px rgb(136, 145, 145);
    transform: translateY(-2px);
}

.about:active{
    transform: translateY(0);
}

.hero .LandingImage {
    width: 66.667%;
    height: 100%;
    min-width: 0;
}

.hero .LandingImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: -100;
}

.Servicios{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
background: linear-gradient(135deg, #000000, #182514);
    position: relative;
    overflow:hidden;
}

.Servicios::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 15%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.918), transparent);
    pointer-events: none;
    z-index:10;
}

.Servicios::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 15%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.918), transparent);
    pointer-events: none;
    z-index:10;
}
.SectionHeader{
    height: 10%;
    color: azure;
    text-align: center;
    width: 100%; 
    font-size: 3.4rem;
    padding-top: 100px;
}

.Servicios .lista-servicios{
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;              /* si no entran todos en una fila, pasan a la siguiente */
    justify-content: center;      /* centra el conjunto si no llena todo el ancho */
    align-content: center;        /* centra verticalmente si hay varias filas */
    align-items: center;   
    gap: 12vw;
    width: 100%;
    height: 100%;
}

.Servicios .lista-servicios .serviciocard{
    display: flex;
    width: 15%;
    height: 25%;
    justify-content: center;
    align-items: center;
background: linear-gradient(180deg, #000000, #0f180d);
    color:white;
    row-gap: 5px;
    border-radius: 10%;
    text-align:center;
    flex-direction:column;
        list-style: none;
    border:2px ridge #4F7942;
}

.Servicios .lista-servicios .serviciocard:hover{
        box-shadow: 0 6px 30px rgba(77, 255, 136, 0.7);
}

.serviciocard-icono{

}

.serviciocard-precio{
    font-size: 1.8rem;
    color: rgb(194, 206, 206);
}

.serviciocard-duracion{
    font-size: 1.2rem;
}

.Equipo{
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 100vh;
    background: black;
    
}

.Equipo .integrantes{
        display: flex;
    flex-direction: row;
        flex-wrap: wrap;              /* si no entran todos en una fila, pasan a la siguiente */
    justify-content: center;      /* centra el conjunto si no llena todo el ancho */
    align-content: center;        /* centra verticalmente si hay varias filas */
    align-items: center;   
        gap: 12vw;
    width: 100%;
    height: 100%;
}

.Equipo .integrantes .integrantecard{
    width: 20vw;
    height: 40vh;
    background:red;
    position: relative;
    overflow: visible;
    z-index: 0;
}

.integrantecard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transform: scale(1.15);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.integrantecard:hover::before {
    opacity: 1;
}

.integrantecard-image{
    width: 100%;
    height:100%;
    object-fit: cover;
    display:block;
        z-index: 1;
}

.integrantecard-nombre{
        background: linear-gradient(245deg, silver, black);
    background-clip: text;
    -webkit-background-clip: text; /* necesario para compatibilidad con Chrome/Safari */
    color: transparent;
    -webkit-text-fill-color: transparent; /* refuerzo para navegadores WebKit */
    position:absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.9rem;
}


.Locales{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: black;
}

.Locales .Tiendas{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
    width: 100%;
}

.Locales .Tiendas .TiendaCardWrapper{
    border: 5px ridge white;
    border-radius: 20px;
    overflow: hidden;
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.TiendaCardWrapper:hover{
        transform: translateY(-4px);
}

.Tienda1, .Tienda2 {
    width: 100%;
    height: 40vh;
}

.DatosTienda{
        font-family: 'Inter', sans-serif;
    font-size: 0.95rem;
    line-height: 1.6;
    color: azure;
    list-style: none;
}

