* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.UpperNavBar {
      position: relative;
    z-index: 10;
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: 10px 20px;
    background:black;
    color:black;
    height: 10vh;
    box-shadow: 0 4px 8px -2px rgba(0, 255, 85, 0.6);
}

    .UpperNavBar .NavBarButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        gap: 12vw;
        padding-left: 5vw;
    }

    .UpperNavBar .UpperBarLogo {
        height: 10vmin;
        width: 10vmin;
        border-radius: 100%;
        object-fit: cover;
    }



.hero {
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: row;
}

.hero .info {
    width: 33.333%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.hero .poder {
    font-family: 'Bebas Neue', sans-sherif;
    font-size: 10rem;
    letter-spacing: 4px;
}

.hero .lujo {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 6.5rem;
    letter-spacing: 2px;
    color: #4F7942;
}

.hero .botones{
display: flex;
margin-top: 10%;
margin-left: 15%;
gap: 100px;
}

.hero .botones button{
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
     border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 12px 24px;
}

.reservar {
    background-color:#4F7942;
}

.reservar:hover{
    background-color: #8cdd76; /* un toque más claro */
    box-shadow: 0 6px 12px #4F7942;
    transform: translateY(-2px); /* se "levanta" un poco */
}

.reservar:active {
    transform: translateY(0); /* vuelve a su lugar al hacer click */
}


.hero .LandingImage {
    width: 66.667%;
    height: 100%;
    min-width: 0;
}

.hero .LandingImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: -100;
}